@media (prefers-reduced-motion: no-preference) {
	html,
	body {
		margin: 0;
		padding: 0;
		scroll-snap-type: y mandatory;
		scroll-behavior: smooth;
		scroll-padding: 0;
	}
	section {
		scroll-snap-align: start;
		scroll-margin: 0;
	}
}

html,
body {
	position: relative;
}

section {
	background: #fff;
	min-height: 100vh;
	padding: 2.5em;
	
}

#home{
	min-width: 100%;
	max-height: 100vh;
    padding: 0;
	position: relative;
	overflow: hidden;
	
}
#home img {
    min-height: auto;
	min-width: 100%;
	object-fit: cover;
	object-position: center top;
	margin:0;
}	

#navigation {
	position: fixed;
	top: 0;
	left: calc(50% - 20em);
	z-index: 99;
	margin: 0 auto;
	padding: 1em;
	width: 40em;
	background: transparent;
	list-style: none;
}

#navigation li {
	float: left;
	height: 2em;
	text-align: center;
	margin: 0;
	border-radius: .5em;
	line-height: 150%;
	font-family: Arial bold, Helvetica, sans-serif;
	margin: 0 0 0 1em;
}

#navigation li a,
#navigation li a:link,
#navigation li a:visited {
	text-decoration: none;
	display: block;
	height: 2em;
	color: #204960;
	font-weight: bold;
	padding: 0.1em 1em;
}

#navigation li a:hover,
#navigation li a:focus,
#navigation li a:active {
	background: #204960;
	color: gold;
	border-radius: .5em;
}
#navbar{
	position: fixed;
	z-index: 99;
	height: 60px;
	width: 100%;
	justify-content: center;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	justify-content: center;
}
#navbar .nav-container {
	display: flex;
	justify-content: center;
	height: 100%;
	width: 40em;

}
#navbar .nav-container ul{
	display: flex;
	list-style: none;
	padding: 0;

}
#navbar .nav-container ul li{
	margin: 10px;

}
#navbar .nav-container ul li a{
	text-decoration: none;
	font-size: 20pt;
	color: black;
}
section > * {
	max-width: 50em;
	margin: 0.5em auto;
}

section h2 {
	font-size: 4em;
	text-align: center;
	line-height: 2rem;
	-webkit-backface-visibility: hidden;
}

section p {
	text-align: justify;
	-webkit-backface-visibility: hidden;
}
/* Colored sections */

#part_1 {
	background: #fffbf0;
}

#part_2 {
	background: #ebf5d7;
}

#part_2 img,
#part_5 img {
	float: right;
	margin-left: 1em;
}

#part_3 {
	background: #ffebe6;
}

#part_4 {
	background: #e6f2f7;
}

@media screen and (max-width: 32em) {
	section h2 {
		font-size: 2em;
	}
	section p {
		width: 90%;
		left: 5%;
		margin-top: 0;
	}
}
#home {
	margin:auto;
	text-align: center;
	top: 10px;
}
#home .title, #home .subtitle {
	font-size: 80pt;
	margin: 0;
	position: absolute;
	top: 400px;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
#home .subtitle {
	font-size: 40pt;
	margin: 0;
	position: absolute;
	top: 500px;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
#works .grid-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
#works .grid-container .grid-item{
	height: 250px;
	width: 250px;
	margin:5px ;
}
#works .grid-container div img{
	min-height: auto;
	min-width: 100%;
	object-fit: cover;
	object-position: center top;
}
#works .grid-container div video{
	min-height: auto;
	min-width: 100%;
	object-fit: cover;
	object-position: center top;
}
section h1{
	text-align: center;
}
#contact .grid-container {

	display: flex;
	flex-direction: row;
}
#contact .grid-container div {
	width: 100%;
}

#about .grid-container {
	border:;
	display: flex;
	flex-direction: row;
	height: 500px;
}
#about .grid-container #intro_text {

	width: 50%;
	padding:15px;
	height: 800px;
}

#about .grid-container #img_naderben {

	width: 50%;
	height: 800px;
	overflow: hidden;
}
#about .grid-container img {
	padding: 0;
	min-height: auto;
	min-width: 100%;
	object-fit: cover;
	object-position: center top;
	
}
